.read-the-docs {
  color: #888;
}

.title {
  color: white;
}

.main-editor {
  height: calc(100vh - 190px);
  padding: 24px;
  margin: 0;
}

.editor-input {
  position: sticky;
  bottom: 12px;
}

.editor-history {
  overflow-y: auto;
}