.main-editor {
  height: calc(100vh - 119px);
  padding: 0;
  margin: 0;
}

.editor-input {
  position: sticky;
  bottom: 12px;
}

.editor-history {
  overflow-y: auto;
}

.editor-canvas {
  height: calc(100vh - 119px);
}
